In [1]:
import csv
import os

import pandas as pd

from utils_part2 import csv_remove_duplicates

In [2]:
input_file_path = os.path.join('..', 'algorithms part dataset', 'smpl.csv')

In [3]:
input_file_path = os.path.join('..', 'algorithms part dataset', 'smpl2.csv')

In [11]:
input_file_path = os.path.join('.', 'smpl.csv')

In [12]:
clean_csv(input_file_path)

In [5]:
def csv_remove_duplicates(input_file_path=None, drop_header=False,
                          cols_to_drop=[4], chars_to_remove = ['"', ';']):
    
    with open(input_file_path, newline='') as csvfile:
        
        reader = csv.reader(csvfile, quotechar='"', delimiter=',', quoting=csv.QUOTE_NONE)
        
        # Initializations
        current_row_idx = -1
        final_list_of_rows = []
        dups_cnt = 0
        dups_idx_list = []
        
        
        if drop_header:
            next(reader)
            current_row_idx += 1       
        
            
        for row in reader:
            current_row_idx += 1
            #remove unwanted chars
            row_cln = row.copy()
            for char in chars_to_remove:
                row_cln = list(map(lambda x: x.replace(char,''), row_cln))
            
            final_row = []
            for idx in range(len(row_cln)):
                if idx not in cols_to_drop:
                    final_row.append(row_cln[idx])
                    
            # Ignore empty rows
            if len(final_row) == 0:
                continue
            
            if final_row in final_list_of_rows:
                dups_cnt +=1
                dups_idx_list.append(current_row_idx)
            else:
                final_list_of_rows.append(final_row)
            
            print(current_row_idx)
            #print(row)
            #print(row_cln)
            print(final_row)
        
    output_file_path = input_file_path.replace('.csv','_output.csv')
    with open(output_file_path, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL) # 
        
        for row in final_list_of_rows:
            writer.writerow(row)        
    
    return current_row_idx, dups_cnt, dups_idx_list

In [6]:
csv_remove_duplicates(input_file_path)

0
['ID', 'GAME_NAME', 'BEHAVIOUR', 'PLAY_PURCHASE']
1
['151603712', 'The Elder Scrolls V Skyrim', 'purchase', '1.0']
2
['151603712', 'The Elder Scrolls V Skyrim', 'play', '273.0']
3
['151603712', 'Fallout 4', 'purchase', '1.0']
4
['151603712', 'Fallout 4', 'purchase', '1.0']
5
['151603712', 'Fallout 4', 'play', '87.0']
6
['151603712', 'Spore', 'purchase', '1.0']
7
['151603712', 'Spore', 'play', '14.9']
8
['151603712', 'Spore', 'play', '14.9']
9
['151603712', 'Fallout New Vegas', 'purchase', '1.0']

(11, 2, [4, 8])

In [7]:
pd.read_csv(input_file_path)

,ID,GAME_NAME,BEHAVIOUR,PLAY_PURCHASE,NONE;
0,"151603712,""The Elder Scrolls V Skyrim"",purchas...",NaN,NaN,NaN,NaN
1,"151603712,""The Elder Scrolls V Skyrim"",play,27...",NaN,NaN,NaN,NaN
2,"151603712,""Fallout 4"",purchase,1.0,0;",NaN,NaN,NaN,NaN
3,"151603712,""Fallout 4"",purchase,1.0,5;",NaN,NaN,NaN,NaN
4,"151603712,""Fallout 4"",play,87.0,0;",NaN,NaN,NaN,NaN
5,"151603712,""Spore"",purchase,1.0,0;",NaN,NaN,NaN,NaN
6,"151603712,""Spore"",play,14.9,0;",NaN,NaN,NaN,NaN
7,"151603712,""Spore"",play,14.9,2;",NaN,NaN,NaN,NaN
8,"151603712,""Fallout New Vegas"",purchase,1.0,0;",NaN,NaN,NaN,NaN

In [8]:
pd.read_csv(input_file_path, quoting=csv.QUOTE_NONE)

           ID                       GAME_NAME BEHAVIOUR  PLAY_PURCHASE NONE;
0  "151603712  ""The Elder Scrolls V Skyrim""  purchase            1.0   0";
1  "151603712  ""The Elder Scrolls V Skyrim""      play          273.0   0";
2  "151603712                   ""Fallout 4""  purchase            1.0   0";
3  "151603712                   ""Fallout 4""  purchase            1.0   5";
4  "151603712                   ""Fallout 4""      play           87.0   0";
5  "151603712                       ""Spore""  purchase            1.0   0";
6  "151603712                       ""Spore""      play           14.9   0";
7  "151603712                       ""Spore""      play           14.9   2";
8  "151603712           ""Fallout New Vegas""  purchase            1.0   0";

In [9]:
def unique(items):
  seen = set()
  for i in xrange(len(items)-1, -1, -1):
    it = items[i]
    if it in seen:
      del items[i]
    else:
      seen.add(it)